<%= turbo_frame_tag "privacy_modal" do %>
  <%= turbo_stream_from "public-history" %>
  <div class="wrapper">
    <div class="sound-control">
      <button data-controller="audio" data-action="click->audio#toggle" class="bgm-button">
        静けさをひらく(音を再生/停止)
      </button>
    </div>
    <%= turbo_frame_tag "omikuji-result" do %>
      <div id="modal-open"></div>
        <%= render "tops/welcome" %>
        <%= link_to "プライバシーポリシー", privacy_path,
      data: { turbo_frame: "privacy_modal" },
      class: "top-container" %>
    <%= link_to "GitHub", "https://github.com/kzkio114/rails_vanilla",
    target: "_blank", rel: "noopener",
    class: "top-container ml" %>
    <% end %>
  </div>
<% end %>