<%= turbo_frame_tag "omikuji-result" do %>
  <h1>おみくじ結果</h1>
  <div class="container">
    <% if @snake %>
      <%= render "result" %>
      <%= render "snake" %>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
    <%= render "omikujis/pull" %>
  </div>
<% end %>

  <% if @history.present? %>
    <%= render partial: "omikujis/history_item", locals: { omikuji_history: @history } %>
  <% end %>