<div id="omikuji-result">
    <h1>おみくじ結果</h1>
    <div class="container">
    <% if @snake %>
      <%= render "result" %>
      <%= render "snake" %>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
    <%= render "pull" %>
</div>

<%= render partial: "my_history", locals: { saved_histories: @my_histories } %>

<%= render "tops/home" %>