<%= turbo_frame_tag "omikuji-result", data: { controller: "omikuji" } do %>
  <div class="fortune-effect-container" data-leaf-result="<%= @snake&.omikuji_result&.name %>"></div>
  <h2 class="sub-title">おみくじ結果</h2>
  <div class="container">
    <% if @snake %>
      <%= render "omikujis/ogp" %>
      <div class ="bottom">
        <%= render "omikujis/result" %>
      </div>
      <%= render "omikujis/snake" %>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
    <%= render "omikujis/pull" %>
  </div>
  <%= render "omikujis/my_history_list" %>
  <%= render "tops/home" %>
<% end %>
