<%= turbo_frame_tag "omikuji-result", data: { controller: "omikuji" } do %>
<div class="fortune-effect-container"></div>
  <h1 class="main-title">おみくじ結果</h1>
  <div class="container">
    <% if @snake %>
      <%= render "result" %>
      <%= render "snake" %>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
    <%= render "omikujis/pull" %>
  </div>
 <%= render "omikujis/my_history_list" %>
<% end %>