<%= turbo_frame_tag "result-container", class: "container" do %>
  <h1>おみくじ結果</h1>
  <div id="result" class="container">
    <% if @snake %>
      <%= render "result" %>
      <%= render "snake" %>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
      <%= render "button/draw" %>
  </div>
  <%= render "histories"%>
  <%= render "button/reset" %>
<% end %>
