<%= turbo_frame_tag "result-container" do %>
  <h1>おみくじ結果</h1>
  <div class="container">
    <% if @snake %>
      <!-- 結果表示 -->
      <h1><%= @snake.omikuji_result.name %></h1>
      <%= @snake.name %>
      <p><%= @snake.omikuji_result.description %></p>
      <%= link_to "おみくじを引き直しますか？", omikujis_path, data: { turbo_frame: "result-container" }, class: "button" %>

      <!-- 蛇の表示 -->
      <div class="centered-container">
        <div class="snake">
          <!-- ヘッド部分 -->
          <div class="head" style="background-color: <%= @snake.snake_colors.find_by(layer: 1)&.color %>">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="omega"></div>
            <div class="tongue"></div>
          </div>

          <!-- トグロ部分 -->
          <% (1..4).each do |layer| %>
            <% color_data = @snake.snake_colors.find_by(layer: layer) %>
            <div class="rounded-rectangle layer<%= layer %>" 
                style="background-color: <%= color_data&.color %>">
                <!-- 丸を表示 -->
              <% if color_data&.circle %>
                <div class="layer-circle"></div>
              <% end %>
              <!-- 横線 -->
              <% if color_data&.horizontal_line %>
                <div class="layer-horizontal-line"></div>
                <div class="layer-horizontal-line-2"></div> <!-- 新しい線 -->
              <% end %>
              <!-- 縦線 -->
              <% if color_data&.vertical_line %>
                <div class="lines-container">
                  <div class="layer-vertical-line"></div>
                  <div class="layer-vertical-line"></div>
                  <div class="layer-vertical-line"></div>
                  <div class="layer-vertical-line"></div>
                  <div class="layer-vertical-line"></div>
                </div>
              <% end %>
            </div>
          <% end %>

          <!-- 尾部分 -->
          <div class="tail-container">
            <div class="tail-outer" style="background-color: <%= @snake.snake_colors.find_by(layer: 'tail-outer')&.color %>;">
              <!-- 尾の横線 -->
              <% if @snake.snake_colors.find_by(layer: 'tail-outer')&.horizontal_line %>
                <div class="layer-horizontal-line"></div>
              <% end %>
              <!-- 尾の縦線 -->
              <% if @snake.snake_colors.find_by(layer: 'tail-outer')&.vertical_line %>
                <div class="layer-vertical-line"></div>
              <% end %>
            </div>
            <div class="tail-inner">
              <div class="tail-inner-cut">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <p>蛇のデータがありません。</p>
    <% end %>
    <%= link_to "ホームに戻る？", root_path, data: { turbo_frame: "result-container" }, class: "button" %>
  </div>
<% end %>
