<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "おみくじ(巳)" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% og_image_url = URI.join(root_url, asset_path("torii.png")) %>

    <meta property="og:title" content="おみくじ(巳)" />
    <meta property="og:description" content="運勢を引いて、今日の気分を知ろう！" />
    <meta property="og:image" content="<%= og_image_url %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="おみくじ(巳)" />
    <meta name="twitter:description" content="運勢を引いて、今日の気分を知ろう！" />
    <meta name="twitter:image" content="<%= og_image_url %>" />
    <% if @snake&.image&.attached? %>
      <meta property="og:title" content="今日の運勢は『<%= @snake.omikuji_result.name %>』" />
      <meta property="og:description" content="<%= @snake.omikuji_result.description %>" />
      <meta property="og:image" content="https://pub-1907a15a98994ec0915c588d7425f466.r2.dev/<%= @snake.image.key %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />

      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:title" content="今日の運勢は『<%= @snake.omikuji_result.name %>』" />
      <meta name="twitter:description" content="<%= @snake.omikuji_result.description %>" />
      <meta name="twitter:image" content="https://pub-1907a15a98994ec0915c588d7425f466.r2.dev/<%= @snake.image.key %>" />
    <% end %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J8KRKRHTGF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J8KRKRHTGF');
    </script>


    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
